@import "constants"


@mixin gradient-vertical($color-one, $color-two)
  background: $color-one
  background: -webkit-linear-gradient(top, $color-one, $color-two)
  background: -o-linear-gradient(top, $color-one, $color-two)
  background: -moz-linear-gradient(top, $color-one, $color-two)
  background: linear-gradient(to bottom, $color-one, $color-two)
  background: -ms-linear-gradient(top, $color-one, $color-two)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color-one, endColorstr=$color-two, GradientType=0 )
  
@mixin gradient-horizontal($color-one, $color-two)
  background: $color-one
  background: -webkit-linear-gradient(left, $color-one, $color-two)
  background: -o-linear-gradient(left, $color-one, $color-two)
  background: -moz-linear-gradient(left, $color-one, $color-two)
  background: linear-gradient(to right, $color-one, $color-two)
  background: -ms-linear-gradient(left, $color-one, $color-two)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color-one, endColorstr=$color-two, GradientType=1 )

@mixin border-radius($value)
  -webkit-border-radius: $value
  -moz-border-radius: $value
  border-radius: $value+px

@mixin H3
  font:
    size: 16px
  color: $h3-color


@mixin paragraph
  font:
    size: 13px
  color: #000000
  line-height: 20px


@mixin responsiveImgs
  max-width: 100%
  height: auto
  display: block





