body {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background: #4d5961 url('../images/background.png') center top no-repeat;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.main-header {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #adadad;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.main-header .logo {
    padding: 26px 0;
    margin: 0;
    float: left;
    font-size: 24px;
    color: #464646;
    font-weight: normal;
    text-transform: uppercase;
}
.main-header .logo b {
    color: #f00;
}
.main-header nav {
    float: right;
}
.main-header nav ul {
    margin: 0;
    padding: 0;
    height: 80px;
}
.main-header nav ul li {
   float: left;
   padding: 26px 0;
   margin: 0;
   font-size: 14px;
   font-weight: normal;
   text-align: center;
   height: 80px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
   line-height: 24px;
}
.main-header nav  ul li a {
    padding: 10px 22px;
    border-right: 1px dotted #cacaca;
}
.main-header nav ul li a:hover {
    color: red;
}
.main-header nav ul li:last-child a {
    border-right: 0px;
}
.main-header nav ul li:first-child+li+li+li+li a {
    border-right: 0px;
}
.main-header nav ul li:hover,
.main-header nav ul li.selected {
    border-bottom: 3px solid #f00;
}
.main-header nav ul li.selected a {
    color: #ff0000;
    font-weight: bold;
}


.main-content {
    margin-top: 80px;
    clear: both;
}
.hero-area {
    padding: 160px 0 130px 0;
    width: 45%;
}
.hero-area h2 {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    color: #fff;
    line-height: 42px;
    letter-spacing: -1.3px;
}
.hero-area p {
    padding: 15px 50px 15px 0;
    margin: 0px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 21px;
}
.btn-learn-more {
    padding: 10px 0;
}
.btn-learn-more a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #d49b47;
    background-image: -webkit-linear-gradient(top, #d49b48, #b45a29);
    background-image: -moz-linear-gradient(top, #d49b48, #b45a29);
    background-image: -ms-linear-gradient(top, #d49b48, #b45a29);
    background-image: -o-linear-gradient(top, #d49b48, #b45a29);
    background-image: linear-gradient(to bottom, #d49b48, #b45a29);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d49b48', endColorstr='#b45a29');
	background: -ms-linear-gradient(top,  #d49b48, #b45a29);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
	behavior: url(styles/PIE.htc);
    padding: 10px 20px 10px 20px;
}
.tabs-area {
    width: 100%;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
	behavior: url(styles/PIE.htc);
    background: -webkit-linear-gradient(left, #ffffff,#ffffff, #d6d6d6);
    background: -o-linear-gradient(left, #ffffff, #ffffff, #d6d6d6);
    background: -moz-linear-gradient(left, #ffffff, #ffffff, #d6d6d6);
    background: linear-gradient(left, #ffffff, #ffffff, #d6d6d6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d6d6d6', , GradientType=1);
    background: -ms-linear-gradient(left,  #ffffff, #d6d6d6);
}
.tabs-area ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
}
.tabs-area ul li {
    display: table-cell;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #a56f42;
    border-left: 1px solid #d7a275;
    cursor: pointer;
    color: #ffffff;
    background: -webkit-linear-gradient(#d89256, #bc7f4b);
    background: -o-linear-gradient(#d89256, #bc7f4b);
    background: -moz-linear-gradient(#d89256, #bc7f4b);
    background: linear-gradient(#d89256, #bc7f4b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d89256', endColorstr='#bc7f4b');
    background: -ms-linear-gradient(top,  #d89256, #bc7f4b);
}
.tabs-area ul li:hover{
    color: #dddddd;
}
.tabs-area ul li:first-child {
    border-top-left-radius: 5px;
}
.tabs-area ul li:last-child {
    border-top-right-radius: 5px;
}
.tabs-area ul li.selected {
    background: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #000000;
}
.tabs-area .box-wrap {
    height: 400px;
    clear: both;
}
.box-wrap .feature {
    width: 50%;
    padding: 30px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.box-wrap h3{
    font-size: 16px;
    font-weight: bold;
    color: #cf7529;
}
.box-wrap .feature p{
    font-size: 13px;
    color: #000;
    line-height: 18px;
}
.box-wrap .sidebar {
    width: 50%;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0 30px;
}
.box-wrap .sidebar p {
    font-size: 13px;
    color: #000;
    line-height: 18px;
    margin: 10px 0 0 0;
}
.box-wrap .sidebar h3 {
    line-height: 18px;
    margin: 0;
}
.box-wrap .sidebar img {
    float: left;
    margin-right: 20px;
}
.box-wrap .sidebar div {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #bebebe;
}
.box-wrap .sidebar div:last-child {
    border-bottom: 0px;
}
.box-wrap .sidebar div:first-child+div+div {
    border-bottom: 0px;
}

.main-footer {
    margin-top: 55px;
    height: 375px;
    position: absolute;
    left: 0;
    width: 100%;
    background: -webkit-linear-gradient(#000000, #3a3a3a);
    background: -o-linear-gradient(#000000, #3a3a3a);
    background: -moz-linear-gradient(#000000, #3a3a3a);
    background: linear-gradient(#000000, #3a3a3a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#3a3a3a');
	background: -ms-linear-gradient(top,  #000000, #3a3a3a);
}
.main-footer .wrapper div {
    margin: 50px 0;
    width: 25%;
    float: left;
}
.main-footer h4 {
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.main-footer ul {
    padding: 0;
}
.main-footer ul li {
    margin: 8px 0;
}
.main-footer ul li:before {
    content: "• ";
    color: #aaaaaa;
}
.main-footer ul li a{
    color: #aaaaaa;
    line-height: 15px;
    font-size: 13px;
    margin-left: 2px;
}
.main-footer p{
    color: #aaaaaa;
    clear: both;
    font-size: 11px;
    line-height: 12px;
    margin: 0;
    width: 65%;
}